@import "../../assets/styling/flex-mix.scss";
@import "../../assets/styling/media.scss";

.page {
    @include flexMix(column, unset, center);
    margin: 0px 40px;
    width: 100%;
    height: 100em;
    padding-top: 10vh;

    @include mqtablet {
        @include flexMix(column, unset, center);
        padding-top: 10vh;
        height: 100em;
        margin-left: 240px;
    }
}
